.App{
    top:0;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

body{
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/22/58/stars-1837306_960_720.jpg);
    background-size:cover;
    

}


.MainContent{
    display:flex;
    flex-wrap: wrap;
}

.Header{
    display: flex;
    flex-wrap: wrap;
    color:white;
    margin: 20px 0% 0% 35%;
    padding: 30px;
}

.SideBar {
    height: 100vh;
    width: 180px;
    top:0;
    position: fixed;
    padding-top: 0;
    left: 0;
    background-color:#475271;
    scrollbar-width: small;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;

}

.SidebarList {
    font-size: 15px;
    padding: 15px;
    margin: 0px;
    color:white;

}

.SidebarList:hover{
    background-color:#6877A1;
    padding: 15px;
    color:white;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-thumb{
    background:slategrey;
    border: radius 10px;
}


.cardDiv{
    border-radius: 10px;
    margin: 10%;
    
    margin-left:auto;
    margin-right: auto;
    padding: 15px;
    width: 25%;
    height: 25%;
    box-shadow: 5px 5px 5px 5px gray ;
    background-color:rgb(230, 234, 236);
    
}

.cardDiv img{
    width:100%;
}
.cardDiv button{
    height: 3%;
}

button{
    height:10%;
    color:white;
    background-color:slategrey;
    border-radius: 8px;
    border: 0;
    margin-left: 20%;
    margin-bottom: 20%;
}

#saveHisBtn{
    background-color:purple;
}