

.MainContent{
    display:flex;
    flex-wrap: wrap;
    margin-left: 185px;

}

.Header{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}

.SideBar {
    height: auto;
    width: 170px;
    position: absolute;
    left: 0px;
    padding-top: 50px;
    background-color: slategrey;
}

.SidebarList {
    font-size: 18px;
    padding-left: 10px;
    color:white
}

.SidebarList:hover{
    background-color:white;
    color:slategrey;
}
