.App{

    justify-content: center;
    flex-wrap: wrap;
}

.MainContent{
    display:flex;
    flex-wrap: wrap;
    margin-left: 185px;

}

.Header{
    display: flex;
    flex-wrap: wrap;
    margin-left: 185px;
}

.SideBar {
    height: auto;
    width: 180px;
    position: absolute;
    left: 0px;
    background-color: slategrey;
}

.SidebarList {
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    color:white;
    font-family:Roboto Slab, serif;
}

.SidebarList:hover{
    background-color:white;
    padding: 10px;
    color:slategrey;
}

.EachCard {
    margin-left: 185px;
}

.cardDiv{
   
    border: 1px 1px 1px 1px black;
    margin: 20px;
    padding: 15px;
    width: 50%;
    box-shadow: 2px 2px 2px 2px black ;
}

.cardDiv img{
    width:50%;
}
.cardDiv button{
    height: 3%;
}

button{
    display:flex;
    flex-direction: row;
    height:10%;
    
}